$colorYellow: #ffd366;
$fz: 15px;
$col-xs: "(max-width: 576px)";
$col-sm: "(min-width: 576px) and (max-width: 767px)";
$col-md: "(min-width: 768px) and (max-width: 991px)";
$col-lg: "(min-width: 992px) and (max-width: 1199px)";
$col-xl: "(min-width: 1200px)";
html {
    height: 100%;
}

body {
    position: relative;
    background: rgb(244, 245, 244);
    font-size: 15px;
    font-family: "微軟正黑體", Helvetica, sans-serif;
    min-height: 100%;
    padding-bottom: 6em;
    margin: 0;
}

.wrap {
    header {
        width: 100%;
        padding: 4% 20px;
        background-color: #424242;
        .grid-item {
            &.flex-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .form-group {
            label {
                color: $colorYellow;
                font-weight: normal;
                font-size: $fz + 3px;
            }
            input {
                background: transparent;
                border: 1px solid $colorYellow;
                color: #fff;
                font-size: $fz + 3px;
                border-radius: 10px;
            }
        }
        .btn-Result {
            text-decoration: none;
            background: $colorYellow;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
            color: #424242;
            font-size: $fz + 9;
            transition: box-shadow 100ms;
            &:hover {
                box-shadow: 0 0 12px $colorYellow;
            }
            &:active {
                background: #dea821;
            }
            &.Level01 {
                position: relative;
                background: transparent;
                border: 6px solid $colorYellow;
                color: $colorYellow;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    right: -4px;
                    background: $colorYellow;
                    border: 4px solid #4a4a4a;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                }
                &:after {
                    content: "";
                    background: url(https://github.com/bnmghjtyu0/Javascript-BMI/blob/master/img/icons_loop.png?raw=true) no-repeat;
                    background-size: contain;
                    width: 14px;
                    height: 19px;
                    position: absolute;
                    bottom: 6px;
                    right: 7px;
                }
            }
        }
    }
    main {
        padding: 2%;
        h3.title {
            text-align: center;
            font-size: $fz+ 9;
            color: #424242;
            margin-bottom: 20px;
        }
        .grid-listView {
            width: 80%;
            margin: 0 auto;
            padding: 0;
            @media #{$col-xs} {
                width: calc(100% - 15px);
            }
            li {
                margin-bottom: 20px;
                list-style: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 12px 12px;
                background: #fff;
                border-left: 6px solid #fff; // box-shadow: 0 0 12px rgba(0,0,0,.2);
                @media #{$col-xs} {
                    grid-template-columns: 1fr;
                }
                &.thin {
                    border-color: #31baf9;
                }
                &.nice {
                    border-color: #86d73f;
                }
                &.common {
                    border-color: gray;
                }
                &.fatA {
                    border-color: #ff982d;
                }
                &.fatAA {
                    border-color: #ff6c03;
                }
                &.fatAAA {
                    border-color: #ff6c03;
                }
                &.fatAAAA {
                    border-color: #ff1200;
                }
                .grid-item {
                    padding: 20px;
                    font-size: $fz + 5px;
                    display: flex;
                    align-items: center;
                    color: #4a4a4a;
                    em {
                        font-style: normal;
                        font-size: $fz - 3px;
                        margin-right: 6px;
                        color: #424242;
                    }
                    span {
                        color: #4a4a4a;
                    }
                }
            }
        }
    }
    footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: $colorYellow;
        padding: 20px 0;
        .pic {
            text-align: center;
        }
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    @media #{$col-xs} {
        grid-template-columns: 1fr;
    }
}